/* contact form */
.contact-container {
  text-align: center;
  padding: 5rem 2rem;
  margin-top: 2.7rem;
  background-image: url('../img/contact/banner.jpg');
  background-color: #081a5b; /* Fallback background color */
  background-position: center;
  background-size: cover;
  z-index: -1;
  padding: 10rem 0;
  margin-bottom: 5rem;
  border-radius: 2.7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1300px;
}

.contact-container h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #0d1616
}
.contact-container p {
  margin-top: 15px;
  color: #e4fcfc
}

fieldset {
  border: 0;
  box-shadow: none;
}

.contact-container input,
.contact-container textarea {
  font-size: 16px;
  padding: 10px 20px;
  width: 200px;
  border-radius: 5px;
  border: solid #060111 1px;
  margin-top: 1rem;
}

.contact-container textarea {
  display: block;
  margin: 15px auto;
  width: 640px;
  height: 150px;
  box-shadow: inset 5px 5px 10px hsla(0, 2%, 32%, 0.097);
  resize: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.contact-container input[type="submit"] {
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  background-color: #3387f5;
  border: none;
  transition: 300ms;
}
.contact-container :hover input[type="submit"] {
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  background-color: #77d67f;
  border: none;
}