/* geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #edfdf2;
}

/* Ajuste geral para evitar rolagem horizontal */
body {
  overflow-x: hidden;
}

/* nav */
#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  max-height: 4.2rem;
}
header{
  background-color: #1b2f9f;
}

.nav-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#nav-link {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  flex: 1 1 auto;
}

#nav-link li {
  padding: 1.2rem 1px;
  text-align: center;
  list-style: none;
  width: 100%;
}

#nav-link li a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  line-height: 2.5;
}

#nav-link li a:hover {
  color: #dbe2e2;
}

/* logo */
.logo-main {
  display: flex;
  align-items: center;
}
.logo-main a {
  display: inline-block;
}
.logo-main img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* search */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search-container {
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  flex-shrink: 0%;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.search-container input {
  border: none;
  border-radius: 20px;
  padding: 1.2rem;
  margin-right: 5px;
}

.search-container button {
  border: none;
  border-radius: 20px;
  padding: 1.2rem;
  background-color: #98ded9;
  color: #0b2f9f;
  cursor: pointer;
  transition-delay: 0.2s;
}

.search-container button:hover {
  background-color: #c7ffd8;
}

.search-bar {
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 2rem;
  text-align: justify;
  padding: 2rem;
}

.main-container h2 {
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 30px;
}

.main-container .about {
  flex-basis: 100%;
  width: 100%;
  background-color: #161d6f;
  padding: 2rem;
  color: #edfdf2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #161d6f;
}

.main-container .about h2 {
  color: #edfdf2;
}

.main-container .about p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.card-container-max-width-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 2rem;
  text-align: justify;
  padding: 2rem;
  width: 100%;
  flex-direction: row;
  gap: 8px;
}
.card-container-max-width-flex .card-container {
  flex-basis: 20%;
  width: 10%;
  color: #edfdf2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 4px #161d6f5e;
  margin: 10px;
  position: relative;
}

.card-container img {
  width: 100%;
  height: 100%;
}

.card-container .card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  max-height: 40%;
  text-align: left;
}

.card-container:hover .card-info {
  opacity: 1;
}

.card-container .card-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-container .card-info p {
  font-size: 1rem;
}

.card-container .card-info a {
  color: #fff;
  text-decoration: none;
}
.card-container {
  position: relative;
  width: 200px;
  overflow: hidden;
  width: 100%; /* Certifique-se de que a largura seja 100% */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.card-container a {
  display: inline-block;
  text-decoration: none;
  border: none;
}

.card-container img {
  width: 100%;
  display: block;
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: left;
  min-height: 100%;
  display: block;
  opacity: 1;
  width: 100%; /* Certifique-se de que a largura seja 100% */
  left: 0; /* Ajuste a posição para evitar overflow */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.card-container:hover .card-info {
  opacity: 1;
}

.card-container .card-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-container .card-info p {
  font-size: 1rem;
}

.card-container .card-info a {
  color: #fff;
  text-decoration: none;
}

.card-button {
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-button button {
  border: none;
  padding: 10px;
  cursor: pointer;
  transition-delay: 0.2s;
  bottom: 0;
  display: block;
  width: 100%;
  opacity: 1;
}

.card-button .card-button-buy {
  background-color: #69c9a1;
}

.card-button .card-button-locate {
  background-color: #4876fd;
}

footer p {
  font-size: 1.2rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer {
  background-color: #0b2f9f;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #98ded9;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  background-color: #081a5b;
  padding: 10px 0;
  margin-top: 20px;
  display: block;
  flex-basis: 100%;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9rem; }


@media  only screen and (max-width: 450px) {
.search-bar, .search-container{
  display: none;
}
#nav-container {
  flex-wrap: wrap ;
  max-height: none;
  padding: 0;
  padding: 10px 20px;
  padding-top: 30px;
}
#nav-container .logo-main{
  flex-basis: 100%;
  justify-content: center;
}
#nav-link{
  flex-wrap: wrap;
  flex: row;
}
#nav-link li{
  flex-basis: 30%;
}
.card-container-max-width-flex{
  padding: 0;
}
.card-container-max-width-flex .card-container {
  flex: 1 1 100%;
  margin: 1 solid red
}
.card-container{
  display: flex;
}
.card-container-max-width-flex .card-container a{
  flex: 0 0 35%;
}
.card-container-max-width-flex .card-container .card-info{
  opacity: 1;
}
.card-container .card-info{
  position: relative;
}
.card-info .card-button{
  display: flex;
}
.main-container .about h2{
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}
.main-container .about p{
  font-size: 14px;
  line-height: 20px;
}
}
@media  only screen and (max-width: 600px) {
  .card-container-max-width-flex .card-container {
  flex-basis:80%  ;
  padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  
  .card-container-max-width-flex .card-container {
  flex-basis: 80%  ;
  }
}

@media only screen and (max-width: 853px) {
 
  .search{
    display: none;
  }
  #nav-container{
    /* max-width: 100%;
    padding: 3rem; */
  }
  .nav-menu{
    width: 100%;
  }
  .main-container .about{
  flex-basis: 90%;
  padding: 1rem;
  }
  .footer-container{
    margin: 2rem;
  }
  .footer-container h4{
  font-size: 14px;
  }
  .footer-container p{
    font-size: 12px;
  }
  .about h2{
    font-size: 14px;
  }
  .about p{
    font-size: 10px;
  }
  .main-container{
    padding: 0;
  }
}

@media only screen and (min-width: 1600px) {

  #nav-container{
    max-width: 80%;
    margin: 0 auto;
  }

  .main-container{
    max-width: 80%;
    margin: 0 auto;
  }
  .card-container-max-width-flex{
    gap: 50px
  }
  .card-container-max-width-flex .card-container {
  flex-basis:35%;
  }
}