.main-container h2 {
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 30px;
}

.main-container .about {
  flex-basis: 100%;
  width: 100%;
  background-color: #161d6f;
  padding: 2rem;
  color: #edfdf2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #161d6f;
}

.main-container .about h2 {
  color: #edfdf2;
}

.main-container .about p {
  font-size: 1.2rem;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.greeting-card {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 1000;
  display: none; /* Inicialmente oculto */
}

.greeting-card p {
  margin: 0;
  font-size: 16px;
  color: #333;
}
